/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#landing {
    text-align: center;
}

#registration-form,
#create-entry-form,
#signin-form {
    text-align: center;
}

form {
    flex: 2;
    max-width: 400px;
    margin: 0 auto;
    text-align: center; /* Aligns text to the center within the form */
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* New class for form field container */
.field-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; /* To keep consistent spacing with other form elements */
}

/* New classes for form field and captain checkbox */
.field {
    flex: 4;
}

.captain {
    flex: 1;
}

/* New styles for textboxes */
.textbox {
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    text-align: left; /* Aligns text to the left within the textboxes */
}

.navbar-brand-custom {
    background-color: blue;
    color: white;
}

.page-title {
    text-align: center;
    padding-top: 25px;
}

.create-button {
    margin: 10px;
}

.custom-container {
    min-width: 90%;
}

.highlight {
    font-weight: bold;
    background-color: rgba(130, 181, 205, 0.258);  /* Adjust as needed */
}

.dataTables_filter input {
    width: 500px;  /* Adjust as needed */
    margin-left: 15px;
}