<!-- create-entry.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Your Entry - Fantasy Football Playoff Challenge</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('input[type="checkbox"]').on('change', function() {
            $('input[type="checkbox"]').not(this).prop('checked', false);
        });
    });
    </script>
    <style>
        .container {
            display: flex;
            justify-content: flex-start;
        }
        .textbox-container {
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
        .textbox {
            width: 45%;
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
        }
        .form-container {
            width: 90%;
        }
    </style>
</head>
<body>
    <header>
        <h1>My Entry</h1>
    </header>
    <main>
        <section id="create-entry-form">
            <div class="container">
                <form class="form-container" action="{% url 'create_entry' %}" method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <ul class="errorlist">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <h2>Select Your Players</h2>
                    <!-- Quarterback (QB) -->
                    <div class="field-container">
                        <div class="field">
                            <label for="id_quarterback">QB:</label>
                            {{ form.quarterback }}
                        </div>
                    </div>

                    <!-- Running Backs (RB) -->
                    <div class="field-container">
                        <div class="field">
                            <label for="id_running_back1">RB 1:</label>
                            {{ form.running_back1 }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.running_back1.id_for_label }}">Captain?</label>
                            {{ form.captain_running_back1 }}
                        </div>
                    </div>

                    <div class="field-container">
                        <div class="field">
                            <label for="id_running_back2">RB 2:</label>
                            {{ form.running_back2 }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.running_back2.id_for_label }}">Captain?</label>
                            {{ form.captain_running_back2 }}
                        </div>
                    </div>

                    <!-- Wide Receivers (WR) -->
                    <div class="field-container">
                        <div class="field">
                            <label for="id_wide_receiver1">WR 1:</label>
                            {{ form.wide_receiver1 }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.wide_receiver1.id_for_label }}">Captain?</label>
                            {{ form.captain_wide_receiver1 }}
                        </div>
                    </div>

                    <div class="field-container">
                        <div class="field">
                            <label for="id_wide_receiver2">WR 2:</label>
                            {{ form.wide_receiver2 }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.wide_receiver2.id_for_label }}">Captain?</label>
                            {{ form.captain_wide_receiver2 }}
                        </div>
                    </div>

                    <!-- Tight End (TE) -->
                    <div class="field-container">
                        <div class="field">
                            <label for="id_tight_end">TE:</label>
                            {{ form.tight_end }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.tight_end.id_for_label }}">Captain?</label>
                            {{ form.captain_tight_end }}
                        </div>
                    </div>

                    <!-- FLEX (RB, WR, TE)-->
                    <div class="field-container">
                        <div class="field">
                            <label for="id_flex">FLEX 1:</label>
                            {{ form.flex1 }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.flex1.id_for_label }}">Captain?</label>
                            {{ form.captain_flex1 }}
                        </div>
                    </div>

                    <div class="field-container">
                        <div class="field">
                            <label for="id_flex">FLEX 2:</label>
                            {{ form.flex2 }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.flex2.id_for_label }}">Captain?</label>
                            {{ form.captain_flex2 }}
                        </div>
                    </div>

                    <div class="field-container">
                        <div class="field">
                            <label for="id_flex">FLEX 3:</label>
                            {{ form.flex3 }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.flex3.id_for_label }}">Captain?</label>
                            {{ form.captain_flex3 }}
                        </div>
                    </div>

                    <div class="field-container">
                        <div class="field">
                            <label for="id_flex">FLEX 4:</label>
                            {{ form.flex4 }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.flex4.id_for_label }}">Captain?</label>
                            {{ form.captain_flex4 }}
                        </div>
                    </div>

                    <div class="field-container">
                        <div class="field">
                            <label for="id_scaled_flex">SCALED FLEX:</label>
                            {{ form.scaled_flex }}
                        </div>
                    </div>

                    <!-- Defense (DEF)-->
                    <div class="field-container">
                        <div class="field">
                            <label for="id_defense">DEF:</label>
                            {{ form.defense }}
                        </div>
                        <div class="captain">
                            <label for="id_captain_{{ form.defense.id_for_label }}">Captain?</label>
                            {{ form.captain_defense }}
                        </div>
                    </div>

                    <button type="submit">Submit Entry</button>
                </form>
                <div class="textbox-container">
                    <div class="textbox" id="textbox1">
                        <h3>Full Rules:</h3>
                        <p>Create a lineup of 12 players. Once the playoffs start you will not be able to change your lineup.</p>
                        <p>The catch is that you can only select ONE PLAYER PER TEAM. So if you choose Christian McCaffery you cannot also have Deebo Samuel in your lineup.</p>
                        <p>Points will NOT be doubled in the Super Bowl</p>
                        <p>You CANNOT combine your captain and scaled FLEX</p>
                        <h4>Offense Scoring:</h4>
                        <ul>
                            <li>4 pts for Passing TDs</li>
                            <li>6 pts for non Passing TDs</li>
                            <li>1 pt for every 20 Yards Passing</li>
                            <li>-1 pt for every Interception Thrown</li>
                            <li>-1 pt for every Fumble Lost</li>
                            <li>1 pt for every 10 Rushing or Receiving yards</li>
                            <li>1 pt per Reception by RBs and WRs</li>
                            <li>1.5 pts per Reception by TEs</li>
                            <li>2 pts for every 2 Point Conversion</li>
                        </ul>
                        <h4>Defense Scoring:</h4>
                            <li>1 pt for every Sack</li>
                            <li>2 pts for every Interception</li>
                            <li>2 pts for every Fumble Recovery</li>
                            <li>5 pts for every Safety</li>
                            <li>6 pts for every Defensive/ST TD</li>
                            <li>12 pts for a Shutout</li>
                            <li>8 pts for allowing 1-6 points</li>
                            <li>5 pts for allowing 7-10 points</li>
                    </div>
                    
                    <div class="textbox" id="textbox2">
                        <h3>*New Rules this year*</h3>
                        <h4>Captain:</h4>
                        <p>You will select 1 captain - this can be any position other than QB. This player will receive 1.5x points each week.</p>
                        <h4>Scaled FLEX:</h4>
                        <p>You will select 1 Scaled FLEX - this position is based on the ownership % of each player.</p>
                        <p>You are rewarded with a higher bonus if the player is less selected by others.</p>
                        <h5>Scaled FLEX Scoring:</h5>
                        <ul>
                            <li>If ownership is 50% or more = No multiplier, a player that scores 10 points will get you 10 points</li>
                            <li>If 25-50% = 1.2 x multiplier, a player that scores 10 points will get you 12</li>
                            <li>12.5-25% = 1.3x, a player that scores 10 points will get you 13</li>
                            <li>5-12.5% = 1.5x, a player that scores 10 points will get you 15</li>
                            <li>0-5% = 1.75 x, a player that scores 10 points will get you 17.5</li>
                    </div> 
                </div>
            </div>
        </section>
    </main>
    <footer>
        <!-- Your footer content will go here -->
    </footer>
</body>
</html>