<!-- rules.html -->
{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge Rules</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
      .container {
        display: flex;
        flex-direction: column-reverse; /* Stack the elements vertically */
        align-items: center; /* Center the elements horizontally */
        width: 100%;
      }
      .textbox-container {
        width: 100%; /* Change this to 100% */
        display: flex;
        justify-content: space-between;
        margin: 0px;
      }
      .textbox {
        width: 50%; /* Change this to 48% to account for the space between */
        border: 1px solid black;
        padding: 10px;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <header>{% include 'fantasy_football_app/navbar.html' %}</header>
    <main>
      <section>
        <div class="textbox-container">
          <div class="textbox" id="textbox3">
            <h3>Payouts:</h3>
            <p>1st - $1250</p>
            <p>2nd - $500</p>
            <p>3rd - $350</p>
            <p>4th - $125</p>
            <p>5th - $125</p>
            <p>6th - $75</p>
            <p>7th - $75</p>
            <p>8th - $75</p>
            <p>9th - $75</p>
            <p>10th - $50</p>
            <p>11th - $20</p>
            <p>12th - $20</p>
            <p>13th - $20</p>
            <p>14th - $20</p>
            <p>15th - $20</p>
            <p>Last Place - $20</p>
          </div>
          <div class="textbox" id="textbox1">
            <h3>Full Rules:</h3>
            <p>
              Create a lineup of 12 players. Once the playoffs start you will
              not be able to change your lineup.
            </p>
            <p>
              The catch is that you can only select ONE PLAYER PER TEAM. So if
              you choose Christian McCaffery you cannot also have Deebo Samuel
              in your lineup.
            </p>
            <p>Points will NOT be doubled in the Super Bowl</p>
            <p>You CANNOT combine your captain and scaled FLEX</p>
            <h4>Offense Scoring:</h4>
            <p>4 pts for Passing TDs</p>
            <p>6 pts for non Passing TDs</p>
            <p>1 pt for every 20 Yards Passing</p>
            <p>-1 pt for every Interception Thrown</p>
            <p>-1 pt for every Fumble Lost</p>
            <p>1 pt for every 10 Rushing or Receiving yards</p>
            <p>1 pt per Reception by RBs and WRs</p>
            <p><strong>1.5 pts</strong> per Reception by TEs</p>
            <p>2 pts for every 2 Point Conversion</p>
            <h4>Defense Scoring:</h4>
            <p>1 pt for every Sack</p>
            <p>2 pts for every Interception</p>
            <p>2 pts for every Fumble Recovery</p>
            <p>5 pts for every Safety</p>
            <p>6 pts for every Defensive/ST TD</p>
            <p>12 pts for a Shutout</p>
            <p>8 pts for allowing 1-6 points</p>
            <p>5 pts for allowing 7-10 points</p>
          </div>

          <div class="textbox" id="textbox2">
            <h3>*New Rules*</h3>
            <h4>Captain:</h4>
            <p>
              You will select <strong>1 captain</strong> - this can be any
              position other than QB. This player will receive
              <strong>1.5x points</strong> each week.
            </p>
            <h4>Scaled FLEX:</h4>
            <p>
              You will select <strong>1 Scaled FLEX</strong> - this position is
              based on the ownership % of each player.
            </p>
            <p>
              You are rewarded with a higher bonus if the player is less
              selected by others.
            </p>
            <h5>Scaled FLEX Scoring:</h5>
            <p>
              If ownership is <strong>50% or more = No multiplier</strong>, a
              player that scores 10 points will get you 10 points
            </p>
            <p>
              If <strong>25-50% = 1.2x</strong> multiplier, a player that scores
              10 points will get you 12
            </p>
            <p>
              <strong>12.5-25% = 1.3x</strong>, a player that scores 10 points
              will get you 13
            </p>
            <p>
              <strong>5-12.5% = 1.5x</strong>, a player that scores 10 points
              will get you 15
            </p>
            <p>
              <strong>0-5% = 1.75x</strong>, a player that scores 10 points will
              get you 17.5
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <a href="{% url 'user_home' %}" class="btn btn-primary">Return to Home</a>
    </footer>
  </body>
</html>
