{% load waffle_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Entry - Fantasy Football Playoff Challenge</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
{% include 'fantasy_football_app/navbar.html' %}
<body>
    <header>
        <h1 class="page-title">{{ user.first_name }} {{ user.last_name }}'s Home Page</h1>
    </header>
    <br/>
        {% block content %}
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Entry #</th>
                        <th scope="col">Wild Card</th>
                        <th scope="col">Divisional</th>
                        <th scope="col">Conference</th>
                        <th scope="col">Super Bowl</th>
                        <th scope="col">Total</th>
                        {% flag 'entry_lock' %}
                        {% else %}
                        <th scope="col">Actions</th>
                        {% endflag %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry, scoring_dict in entries.items %}
                        <tr>
                        <td>{{ scoring_dict.rank }}</td>
                        <th scope="row"><a href="{% url 'view_entry' entry.id %}">{{ entry.name }}</a></th>
                        <td>{{ scoring_dict.WC }}</td>
                        <td>{{ scoring_dict.DIV }}</td>
                        <td>{{ scoring_dict.CONF }}</td>
                        <td>{{ scoring_dict.SB }}</td>
                        <td><b>{{ scoring_dict.total }}</b></td>
                            {% flag 'entry_lock' %}
                            {% else %}
                            <td>
                                <a href="{% url 'edit_entry' entry.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'delete_entry' entry.id %}" class="btn btn-danger" onclick="return confirm( 'Are you sure you want to delete this entry?')">Delete</a>         
                            </td>
                            {% endflag %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% flag 'entry_lock' %}
                    <a href="{% url 'standings' %}" class="btn btn-primary mb-3 create-button">View Full Standings</a>
                {% else %}
                    <a href="{% url 'create_entry' %}" class="btn btn-primary mb-3 create-button">Create New Entry</a>
                {% endflag %}
            </div>
            </div>
    
            <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                Entry Rules
                </div>
                <div class="card-body">
                    <p>Create a lineup of 12 players. Once the playoffs start you will not be able to change your lineup. </p>
                    <p>The catch is that you can only select <b>ONE PLAYER PER TEAM</b>. So if you choose Christian McCaffery you cannot also have Deebo Samuel in your lineup.</p>
                    <p><b>Pricing:</b></p>
                    <p>&emsp;$20 - 1 entry&emsp;$90 - 5 entries&emsp;$175 - 10 entries &emsp;Max of 10 entries</p>
                    <img src="https://raw.githubusercontent.com/ekatnic/FantasyChallenge/master/fantasy_football_app/static/images/venmo.PNG" alt="Venmo QR Code" class="img-fluid">
                    <p></p>
                    <p><strong style="color: red;">Please Venmo @Spenser-Wyatt by kickoff Saturday</strong></p>
                    <p>Payouts will be determined as a percentage after all entries have been locked</p>
                    <p>Full rules will be shown on the Create a Team Page</p>
                    <p>Standings will be available after the first game kicks off</p>
                    <p>Good Luck!</p>
                    <p>Check out <a href="https://twitter.com/ShowdownUpdates">our Twitter</a> for updates on the competition</p>
                    <p>Any questions please reach out: spenserjwyatt@gmail.com</p>
                    <p>Special thanks to Imtiaz Fatteh and Ethan Katnic for their hard work in putting this website together</p>                    
                </div>
            </div>
            </div>
        </div>
        </div>
    {% endblock %}
    </br>
        <footer>
            <!-- Your footer content will go here -->
        </footer>
    </div>
</body>
</html>