{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Entry - Fantasy Football Playoff Challenge</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% include 'fantasy_football_app/navbar.html' %}

    <header>
        <h1 class="page-title">{{ user.first_name }} {{ user.last_name }}'s Home Page</h1>
    </header>
    <br/>

        {% block content %}
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Entry #</th>
                        <th scope="col">Wild Card</th>
                        <th scope="col">Divisional</th>
                        <th scope="col">Conference</th>
                        <th scope="col">Super Bowl</th>
                        <th scope="col">Total</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in entries %}
                        <tr>
                        <th scope="row"><a href="{% url 'view_entry' entry.id %}">{{ user.first_name }} - {{ forloop.counter }}</a></th>
                        <td>{{ entry.wild_card_score }}</td>
                        <td>{{ entry.divisional_score }}</td>
                        <td>{{ entry.conference_score }}</td>
                        <td>{{ entry.super_bowl_score }}</td>
                        <td>{{ entry.total }}</td>
                        <td>
                            <a href="{% url 'view_entry' entry.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_entry' entry.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a>                    </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'create_entry' %}" class="btn btn-primary mb-3 create-button">Create New Entry</a>

            </div>
            </div>
    
            <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                Entry Rules
                </div>
                <div class="card-body">
                    <p>Create a lineup of 12 players. Once the playoffs start you will not be able to change your lineup. </p>
                    <p>The catch is that you can only select <b>ONE PLAYER PER TEAM</b>. So if you choose Christian McCaffery you cannot also have Deebo Samuel in your lineup.</p>
                    <p><b>Pricing:</b></p>
                    <p>&emsp;$20 - 1 entry&emsp;$90 - 5 entries&emsp;$175 - 10 entries &emsp;Max of 10 entries</p>
                    <img src="{% static 'images/venmo.png' %}" alt="Venmo QR Code" class="img-fluid">
                    <p></p>
                    <p>Payouts will be determined as a percentage after all entries have been locked</p>
                    <p>Full rules will be shown on the Create a Team Page</p>
                    <p>Good Luck!</p>
                    <p>Any questions please reach out: spenserjwyatt@gmail.com</p>
                    <p>Special thanks to Imtiaz Fatteh and Ethan Katnic for their hard work in putting this website together</p>                    
                </div>
            </div>
            </div>
        </div>
        </div>
    {% endblock %}
    </br>
        <footer>
            <!-- Your footer content will go here -->
        </footer>
    </div>
</body>
</html>