{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Entry - Fantasy Football Playoff Challenge</title>
    <link rel="stylesheet" type="text/css" href="{% static 'django_styles.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}</head>
<body>
    {% include 'fantasy_football_app/navbar.html' %}
    <main>
        {% block content %}
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-12"> <!-- Adjusted from col-md-8 to col-md-12 -->
                <h1 class="text-center">Entry Scores</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Player</th>
                            <th>WC Score</th>
                            <th>DIV Score</th>
                            <th>CONF Score</th>
                            <th>SB Score</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order, player_pair in player_list %}
                        {% with rostered_player=player_pair.0 scoring_dict=player_pair.1 %} 
                        <tr>
                            <td {% if rostered_player.is_captain %}class="font-weight-bold"{% endif %}>
                                {{ order }}
                                {% if rostered_player.is_captain %}(C){% endif %}
                            </td>
                            <td {% if rostered_player.is_captain %}class="font-weight-bold"{% endif %}>
                                <a href="{% url 'player_stats' rostered_player.player.id %}">
                                {{ rostered_player.player.name }}
                                </a>
                            </td>
                            <td>{{ scoring_dict.WC }}</td>
                            <td>{{ scoring_dict.DIV }}</td>
                            <td>{{ scoring_dict.CONF }}</td>
                            <td>{{ scoring_dict.SB }}</td>
                            <td>{{ scoring_dict.total }}</td>
                        </tr>
                        {% endwith %}
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No players in this entry.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="card mt-3">
                    <div class="card-body">
                        <h2 class="text-center font-weight-bold">Total: {{ entry_total }}</h2>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endblock %}
    </main>
    <footer>
        <!-- Your footer content will go here -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>